$color1 : #E6F5F7;
$color0 : #222;
$colorA : magenta;
$colorB : darkblue ;
$colorC : #51BFB5 ;
$colorD : #9FE3DD ;
$colorE : darkmagenta ;
$colorF : #E3FEBE;
$colorG : deeppink;

.text--color1 {
  color: $color1
}

.text--color0 {
  color: $color0
}

.text--colorA {
  color: $colorA
}

.text--colorB {
  color: $colorB
}

.text--colorC {
  color: $colorC
}

.text--colorD {
  color: $colorD
}

.text--colorE {
  color: $colorE
}

.text--colorF {
  color: $colorF
}

.text--colorG {
  color: $colorG
}