@import 'colors';
@import 'titles';

.App {
  background: linear-gradient( $color000, $color0, $colorB );
  text-align: center;
  width: 100vw;
  min-height: 125vh;
  overflow: hidden;
}

.App-intro {
  font-size: large;
}

.btn {
  position: relative;
  z-index: 4;
}

.windows--neon {
  position: relative;
  border: 2px solid $colorE;
  border-radius: 5px;
  background-color: $color0;
}

.transparent {
  opacity: 0.9;
}

.left {
  left: 0vw;
}

.right {
  right: 0vw;
}

.cart {
  position: absolute;
  display: inline-block;
  width: 10vw;
  vertical-align: top;
  z-index: 2;
}

nav {
  background-color: $color0;
  z-index: 4;
  position: relative;
  top: -2em;
  border-bottom: 2px solid $colorE;
}

.product--imageSize {
  height: 30vh;
}

.shopPage--container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 2;
}

.shopPage--parent {
  position: absolute;
  display: inline-block;
  width: 70vw;
  min-height: 60vh;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%);
}

.product--window {
  margin: 0.5em 1em;
  padding: 0.5em;
  width: 10vw;
}