.text--color1 {
  color: #E6F5F7; }

.text--color0 {
  color: #222; }

.text--color000 {
  color: #000; }

.text--colorA {
  color: magenta; }

.text--colorB {
  color: darkblue; }

.text--colorC {
  color: #51BFB5; }

.text--colorD {
  color: #9FE3DD; }

.text--colorE {
  color: darkmagenta; }

.text--colorF {
  color: #E3FEBE; }

.text--colorG {
  color: deeppink; }

.App {
  background: linear-gradient(#000, #222, darkblue);
  text-align: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

.logos--container {
  position: relative; }

.App-logo-A, .App-logo-B, .App-logo-C {
  position: absolute;
  left: 0vw;
  top: -25em;
  z-index: 1; }

.App-logo-A {
  animation: App-logo-spin-a infinite 20s linear; }

.App-logo-B {
  opacity: .66;
  animation: App-logo-spin-b infinite 15s linear; }

.App-logo-C {
  opacity: .33;
  animation: App-logo-spin-c infinite 10s linear; }

.App-title--white {
  position: absolute;
  font-size: 4em;
  color: white;
  margin: 0;
  top: 0;
  left: 24.5%;
  animation: App-title-shift infinite 20s linear; }

.App-title {
  font-size: 4em;
  position: relative;
  z-index: 4;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #E6F5F7;
  mix-blend-mode: overlay;
  background: #222;
  height: 2.5em;
  margin: 0; }

.App-title--subtitle {
  margin: 0;
  -webkit-text-fill-color: #E6F5F7;
  mix-blend-mode: difference;
  background: #222;
  position: relative;
  z-index: 4;
  top: -1.25em; }

.App-intro {
  font-size: large; }

.windows--neon {
  position: relative;
  border: 2px solid darkmagenta;
  border-radius: 5px;
  background-color: #222; }

.transparent {
  opacity: 0.9; }

.left {
  left: 0vw; }

.right {
  right: 0vw; }

.cart {
  position: absolute;
  display: inline-block;
  width: 10vw;
  vertical-align: top;
  z-index: 2; }

nav {
  background-color: #222;
  z-index: 2;
  position: relative; }

.product--imageSize {
  height: 30vh; }

.shopPage--container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 2; }

.shopPage--parent {
  position: absolute;
  display: inline-block;
  width: 70vw;
  height: 60vh;
  z-index: 2;
  left: 50%;
  transform: translateX(-50%); }

@keyframes App-logo-spin-a {
  0% {
    transform: rotate(0deg);
    opacity: .75; }
  50% {
    opacity: .25; }
  100% {
    transform: rotate(360deg);
    opacity: .75; } }

@keyframes App-logo-spin-b {
  0% {
    transform: rotate(180deg);
    opacity: .75; }
  50% {
    opacity: .33; }
  100% {
    transform: rotate(540deg);
    opacity: .75; } }

@keyframes App-logo-spin-c {
  0% {
    transform: rotate(270deg);
    opacity: .5; }
  50% {
    opacity: .33; }
  100% {
    transform: rotate(630deg);
    opacity: .5; } }

@keyframes App-title-shift {
  0% {
    left: 24.5%; }
  25% {
    left: 25.25%; }
  75% {
    left: 24%; }
  100% {
    left: 24.5%; } }
